Android/Beginner/Demos/SQLOperationsCheatsheet/bin/*
Android/Beginner/Demos/SQLOperationsCheatsheet/gen/*

Android/Beginner/Demos/MovieFinderCheatsheet/gen/*
Android/Beginner/Demos/MovieFinderCheatsheet/bin/*